// Specific CSS for your home-page
// Graphical variables

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: rgb(14, 13, 13);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .btn-flat {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #1EDD88;
//   transition: background 0.3s ease;
// }

// .btn-flat:hover {
//   background: #1BCB7F;
//   color: white;
// }

.card-van {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-van > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-van h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-van p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-van .card-van-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-van-infos .card-van-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 50px;
}


.card-img-top {
  max-height:160px;
  min-height:160px;
  object-fit: cover
}
