<div class= "container">
  <br>
  <div class = "booking-title">
    <h2><strong>My Bookings</strong></h2>
  </div>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%= "This is your booking date #{booking.start_date} for this van #{booking.van.model}" %>
          <%= link_to "Delete your booking",
                    booking_path(booking),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                     class: "btn btn-success"%>
      </li>
    <% end %>
  </ul>
</div>
