<div class="container-fluid" style="height:100vh">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576793048000-494aaa93d160?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); position: absolute;top: 10%;bottom: 10%;left: 0;right: 0;background-repeat: no-repeat;background-position: 50%;background-size: cover;">
    <div class="bg-overlay">
    </div>
      <div class="container">
        <div class="row">
                <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h1 class="h3">Welcome to VanGO! <strong>Find vans in your area!</strong></h1>
                     <form>
                        <div class="form-group">
                          <label for="locationInput">WHERE</label>
                          <input type="email" class="form-control" id="locationInput" aria-describedby="locationInputHelp" placeholder="Anywhere">
                          <small id="locationInputHelp" class="form-text text-muted sr-only">Please type in your desired destination.</small>
                        </div>
                      </form>
                    <a href="#" class="btn btn-danger btn-block">Search</a>
                  </div>
                </div>
                </div>
            </div>
        <%# <h1>Welcome to VanGO! <strong>Find vans in your area!</strong></h1>
        <p>Anything.</p>
        <a class="btn btn-flat" href="#">Book now</a> %>
      </div>
  </div>
</div>

<div class="container-fluid container py-3 mt-4">
    <h2 class="h3">What clients said about VanGO</h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1591706515036-cb0f48dc5e62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="">
                          <div class="d-flex">
                           <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                            <div class="d-flex flex-column">
                                <h5 class="mt-0 mb-1">Sara</h5>
                                <p>United States</p>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1588537681720-aab74299f3a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733;</h5>
                    <p class="card-text">This is a scam! Don't rent here, I didn't get my money back. Will sue you!</p>
                    <div class="">
                      <div class="d-flex">
                        <img src="https://kitt.lewagon.com/placeholder/users/sarahlafer" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                         <div class="d-flex flex-column">
                            <h5 class="mt-0 mb-1">Sarah</h5>
                            <p>Germany</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1621635646183-d9f1044469c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1599&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="">
                      <div class="d-flex">
                        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                         <div class="d-flex flex-column">
                            <h5 class="mt-0 mb-1">Arthur</h5>
                            <p>France</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%# <div class="container-fluid container py-3 mt-4">
    <h2 class="h3">What clients said about VanGO</h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card mb-3 border-0">
              <img src="https://images.unsplash.com/photo-1533654793924-4fc4949fb71e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" class="card-img-top" alt="...">
                <div class="card-body pl-0">
                  <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="">
                    <div class="d-flex">
                      <img src="https://a0.muscache.com/im/pictures/660e2273-b37b-4f50-917e-369e7bc3f665.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                      <div class="d-flex flex-column">
                        <h5 class="mt-0 mb-1">Sara</h5>
                        <p>United States</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-3">
          <div class="card mb-3 border-0">
            <img src="https://images.unsplash.com/photo-1520908695049-da13395b27a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                  <h5 class="card-title text-info">&#9733;</h5>
                  <p class="card-text">Assholes!. This is a scam! Don't rent here, I didn't get my money back. Will sue you!.</p>
                <div class="">
                  <div class="d-flex">
                    <img src="https://a0.muscache.com/im/pictures/660e2273-b37b-4f50-917e-369e7bc3f665.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                    <div class="d-flex flex-column">
                      <h5 class="mt-0 mb-1">Sarah</h5>
                      <p>Germany</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    <div class="col-md-3">
      <div class="card mb-3 border-0">
        <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
          <div class="card-body pl-0">
            <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="">
              <div class="d-flex">
                <img src="https://a0.muscache.com/im/pictures/660e2273-b37b-4f50-917e-369e7bc3f665.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                <div class="d-flex flex-column">
                    <h5 class="mt-0 mb-1">Sara</h5>
                    <p>United States</p>
                </div>
              </div>
            </div>
        </div>
       </div>
    </div>
</div> %>
<%# <div class="container-fluid container bg-success display-1">
    3rd section
</div>
<div class="container-fluid container bg-warning display-1">
    4th section
</div>
<div class="container-fluid container bg-danger display-1">
    5th section
</div>
<div class="container-fluid container bg-info display-1">
    6th section
</div> %>
