<%= user_signed_in? %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/183/2316/1544.jpg?hmac=908ZBWKqGdL9kio38tCq2ViwMm3DjLUtkjU_6SWNa9k);">
  <div class="container">
    <h1>Welcome to VanGO! <strong>Find vans in your area!</strong></h1>
    <p>Anything.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
