<div class="container-fluid" style="height:100vh">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576793048000-494aaa93d160?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); position: absolute;top: 10%;bottom: 10%;left: 0;right: 0;background-repeat: no-repeat;background-position: 50%;background-size: cover;">
    <div class="bg-overlay">
    </div>
      <div class="container">
        <div class="row">
                <div class="col-sm-5">
                <%# <div class="card"> %>
                  <div class="card-body">
                    <h1 class="card-h3">Welcome to VanGO! <strong>Find vans in your area!</strong></h1>
                      <%= form_tag vans_path, method: :get do %>
                        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Your Location"
                        %>
                        <br>
                        <%= submit_tag "Find a van", class: "btn btn-success" %>
                      <% end %>
                  </div>
               <%# </div> %>
              </div>
      </div>
  <%# <h1>Welcome to VanGO! <strong>Find vans in your area!</strong></h1>
  <p>Anything.</p>
  <a class="btn btn-flat" href="#">Book now</a> %>
</div>
  </div>
</div>


<div class="container-fluid container py-3 mt-4">
    <h2 class="h3">What clients said about VanGO</h2>
    <div class="row mt-4 border-bottom">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1591706515036-cb0f48dc5e62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">Rented a lovely yellow van. The service provided was exceptional.</p>
                    <div class="">
                          <div class="d-flex">
                           <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                            <div class="d-flex flex-column">
                                <h5 class="mt-0 mb-1">Sara</h5>
                                <p>United States</p>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1588537681720-aab74299f3a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733;</h5>
                    <p class="card-text">This is a scam! Don't rent here, I didn't get my money back. Will sue you!</p>
                    <div class="">
                      <div class="d-flex">
                        <img src="https://kitt.lewagon.com/placeholder/users/sarahlafer" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                         <div class="d-flex flex-column">
                            <h5 class="mt-0 mb-1">Sarah</h5>
                            <p>Germany</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://images.unsplash.com/photo-1621635646183-d9f1044469c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1599&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">Needed a van last minute to change house and VanGO was a life saver.</p>
                    <div class="">
                      <div class="d-flex">
                        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-3" alt="...">
                         <div class="d-flex flex-column">
                            <h5 class="mt-0 mb-1">Arthur</h5>
                            <p>France</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container py-3 mt-4">
      <h2 class="h3">Vans in your area:</h2>
        <div class="row mt-4">
          <div class="col-md-3">
              <div class="card mb-3 border-0">
                  <img src="https://carwiki.de/wp-content/uploads/2020/10/Mercedes_Benz_Sprinter_Kfz_Steuer-scaled.jpg" class="card-img-top br0" alt="...">
                  <p class="small text-uppercase pb-0">Cologne, Germany</p>
                  <div class="card-body p-0">
                      <h5 class="card-title">Mercedes Sprinter(2010)</h5>
                      <p class="card-text m-0">Size: L</p>
                      <p class="card-text m-0">50€/day</p>
                      <button type="button" class="btn btn-success btn-sm">More info</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-3 border-0">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/2017_Volkswagen_Transporter_BlueMotion.jpg" class="card-img-top br0" alt="...">
                  <p class="small text-uppercase pb-0">Leverkusen, Germany</p>
                  <div class="card-body p-0">
                      <h5 class="card-title">VW Tranporter (2017)</h5>
                      <p class="card-text m-0">Size: M</p>
                      <p class="card-text m-0">40€/day</p>
                      <button type="button" class="btn btn-success btn-sm">More info</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-3 border-0">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Opel_Vivaro_Combi_1.6_BiTurbo_CDTI_ecoFLEX_%28B%29_%E2%80%93_Frontansicht%2C_7._Oktober_2015%2C_D%C3%BCsseldorf.jpg" class="card-img-top br0" alt="...">
                  <p class="small text-uppercase pb-0">Frankfurt, Germany</p>
                  <div class="card-body p-0">
                      <h5 class="card-title">Opel Vivaro (2015)</h5>
                      <p class="card-text m-0">Size: M</p>
                      <p class="card-text m-0">45€/day</p>
                      <button type="button" class="btn btn-success btn-sm">More info</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-3 border-0">
                  <img src="https://vehicle.img.symfio.de/1600x,q90/vehicle/5ffi9b/5dea67529fc3390c2d4d41bd/5f37b81858ce68.59339984.jpeg" class="card-img-top br0" alt="...">
                  <p class="small text-uppercase pb-0">Bonn, Germany</p>
                  <div class="card-body p-0">
                      <h5 class="card-title">Fiat Ducato (2016)</h5>
                      <p class="card-text m-0">Size: L</p>
                      <p class="card-text m-0">50€/day</p>
                      <button type="button" class="btn btn-success btn-sm">More info</button>
              </div>
          </div>
      </div>
      <div class="row mt-2 mb-5">
        <%# <button class="h6"> %>
        <%=link_to "See all vans...", vans_path, class: "d-flex justify-content-center"%>
      </div>
  </div>
</div>

<%# <div class="container-fluid container bg-success display-1">
    3rd section
</div>
<div class="container-fluid container bg-warning display-1">
    4th section
</div>
<div class="container-fluid container bg-danger display-1">
    5th section
</div>
<div class="container-fluid container bg-info display-1">
    6th section
</div> %>
