.wrapper {
  height: 360px;
  width: 654px;
  margin: 8px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 360px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Helvetica', sans-serif;
}

.product-text h2 {
  margin: 0 0 20px 38px;
  font-size: 13px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  padding-right: 15px;
  font-family: 'Helvetica', sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  max-height: 115px;
  word-wrap: break-word;

}

#bold-price {
  font-size: 20px;
  font-weight: bold;
}

.button-booking {
  margin-left: 38px;
}

// card grid css
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
